@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: 0.5s;
}
header.sticky
{
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo
{
  color: #111;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}
header.sticky .logo
{
  color: #111;
}
header ul
{
  position: relative;
  display: flex;
}
header ul li
{
  position: relative;
  list-style: none;
}
header ul li a
{
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #111;
  text-decoration: none;
}
header.sticky ul li a
{
  color: #111;
}
section
{
  padding: 100px;
}
.banner
{
  position: relative;
  min-height: 100vh;
  background: url(assets/home-page.jpg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2
{
  font-size: 3em;
  color: #111;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span
{
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3
{
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
}
.btn
{
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}
.content
{
  display: flex;
  justify-content: space-between;
}
.heading
{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}
.heading.white
{
  color: #fff;
}
.conetntBx
{
  padding-right: 30px;
}
.conetntBx h3
{
  font-size: 24px;
  margin-bottom: 10px;
}
.heading h2
{
  font-weight: 600;
  font-size: 30px;
}
.portfolio
{
  background: url(assets/portfolio-page.jpg);
  opacity: 0.7;
  background-size: cover;
}
.portfolio .content
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.portfolio .content .sectionBox
{
  padding: 40px 20px;
  background: #fff;
  color: #111;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}
.portfolio .content .sectionBox:hover
{
  background: #2196f3;
}
.portfolio .content .sectionBox img
{
  max-width: 80px;
  filter: invert(1);
}
.portfolio .content .sectionBox h2
{
  font-size: 20px;
  font-weight: 600;
}

.resume
{
  background: url(assets/resume-page.jpg);
  opacity: 0.6;
  background-size: cover;
}
.resume .content
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.resume .content .sectionBox
{
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}
.resume .content .sectionBox:hover
{
  background: #2196f3;
}
.resume .content .sectionBox img
{
  max-width: 80px;
  filter: invert(1);
}
.resume .content .sectionBox h2
{
  font-size: 20px;
  font-weight: 600;
}
.contact
{
  background: #fadadd;
  display: flex;

}

.formBx
{
  display: flex;
  padding-left: 50px;
  align-items: center;
}
.formBx form
{
  display: flex;
  flex-direction: column;
}
.formBx form h3,
{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea
{
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder
{
  color: #999;
}
.formBx form textarea
{
  min-height: 200px;
}
.formBx form input[type="submit"]
{
  max-width: 100px;
  background: #2196F3;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contactInfo
{
  min-width: 40%;
}
.contactInfoBx
{
  position: relative;
}
.contactInfoBx .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactInfoBx .box .icon
{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.contactInfoBx .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactInfoBx .box .text h3
{
    font-weight: 500;
    color: #00bcd4;
    margin-bottom: 0;
}
.contactInfoBx .box .text p
{
    font-weight: 300;
    color: #fff;
}
@media (max-width: 991px)
{
  header,
  header.sticky
  {
    padding: 20px 50px;
    z-index: 1000;
  }
  header .menu
  {
    display: none;;
    z-index: 999;
  }
  header .menu
  {
    position: fixed;
    top: 80px;
    left: -100%;
    padding: 100px 50px;
    display: block;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  header .menu.active
  {
    position: fixed;
    top: 80px;
    left: 0;
    padding: 100px 50px;
    display: block;
    width: 100%;
    height: 100vh;
    background: #fff;
  }
  header ul li a
  {
    font-size: 24px;
    margin: 10px 0;
    color: #111;
  }
  .toggle
  {
    width: 40px;
    height: 40px;
    background: url(menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
  }
  .toggle.active
  {
    background: url(close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
  }
  header.sticky .toggle
  {
    filter: invert(1);
  } 
  section
  {
    padding: 100px 50px;
  }
  .banner
  {
    padding: 150px 50px 100px;
  }
  .banner h2
  {
    font-size: 1.5em;
  }
  .banner h3
  {
    font-size: 1em;
  }
  .btn
  {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .content
  {
    flex-direction: column;
  }
  .heading h2
  {
    font-size: 24px;
  }
  .conetntBx h3
  {
    font-size: 20px;
  }
  .w50
  {
    margin-bottom: 20px;
  }
  .w50:last-child
  {
    margin-bottom: 0px;
  }
  .portfolio .content .sectionBox
  {
    margin: 10px;
  }
  .testimonial .content .testimonialBx
  {
    max-width: calc(100% - 20px);
    padding: 40px 20px;
    margin: 10px;
    background: #2196F3;
  }
  .testimonial .content .testimonialBx h3
  {
    margin-top: 20px;
  }
  .contactInfo
  {
    margin: 20px 0;
  }
}
@media (max-width: 600px)
{
  header,
  header.sticky
  {
    padding: 20px 20px;
  }
  section
  {
    padding: 100px 20px;
  }
  .banner
  {
    padding: 150px 20px 100px;
  }
}
